body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: "Times New Roman", Georgia, serif;
    font-size: 40px;
}
p {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

h2 {
    color: red;
    margin-left: 20px;
}
